{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}图书信息{% endblock %}

{% block page_content %}

<div class="page-header">
    <p> 书名: {{ book.bookname }} </p>
    <p> 作者: {{ book.author }} </p>
    {% if book.publisher %}
    <p> 出版社: {{ book.publisher }} </p>
    {% endif %}
    <p> ISBN: {{ book.ISBN }}</p>
    {% if book.info %}
    <p> 书籍介绍: {{ book.info }} </p>
    {% endif %}
    <p> 馆藏副本: {{ book.totalNumber }} </p>
    <p> 可借副本: {{ nowNumber }}</p>
</div>
    {% if current_user.is_lib() %}
    <a class="btn btn-danger" href="{{ url_for('main.edit_book', book_id=book.id) }}">Modify Book</a>
    {% endif %}


{% endblock %}